<h1>Your available offers</h1>


<% if @claim_offers.present? %>
  <h3>Your claims</h3>
  <%= turbo_frame_tag "claim_offers" do %>
    <% @claim_offers.each do |offer| %>
      <div><%= offer.description%></div>
    <% end %>
  <% end %>
<% end %>

<% if @offers.present? %>
  <%= turbo_frame_tag "offers" do %>
    <h3>Offers just for you</h3>
    <% @offers.each do |offer| %>
       <div class="claim-offer-player" id="offer_<%= offer.id %>">
        <% if 1000 >= offer.score_to_achieve %>
          <%= button_to 'Claim', claim_players_offer_path(offer), method: :post, class: 'claim-button', data: { turbo_frame: "_top" } %>
        <% else %>
          <p class="claim-info-point">Points needed : <%= offer.score_to_achieve %></p>
        <% end %>
        <p><%= offer.description %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
